header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 5vh;
    padding: 2vh;
    background-color: burlywood;
}

nav {
    display: flex;
    width: 50%
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    li {
        a{ 
            text-decoration: none;
            color: #000000;
            font-size: 16px;
        }
    }
}

section {
    padding-top: 6vh;
    height: 100vh;
    font-size: 1rem;
}
